name: Package
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - name: Check out branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      - name: Build packages
        shell: bash
        run: |
          pixi run build-new

          # https://github.com/prefix-dev/rattler-build/issues/2112
          # Check if any packages were built
          if [ ! -d "./output" ] || [ -z "$(find ./output -type f -name "*.conda" 2>/dev/null)" ]; then
            echo "âŒ no package was built, did you increment the recipe version?" >> "$GITHUB_STEP_SUMMARY"
          fi

          if [ "${{ github.event_name }}" = "pull_request" ] && [ -s "$GITHUB_STEP_SUMMARY" ]; then
            gh pr comment ${{ github.event.pull_request.number }} --body-file "$GITHUB_STEP_SUMMARY"
          fi
        env:
          RATTLER_BUILD_ENABLE_GITHUB_INTEGRATION: true
          RATTLER_BUILD_COLOR: always
          GH_TOKEN: ${{ github.token }}
      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: output
          path: output/**/*.conda


  upload:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && needs.build.outputs.has-packages == 'true'
    environment: upload
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          activate-environment: true
          auth-host: prefix.dev
          auth-token: ${{ secrets.PREFIX_TOKEN }}
      - name: Download artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: output
          path: output
      - name: Get JWT
        id: get_token
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const token = await core.getIDToken('prefix.dev')
            core.setOutput('token', token)
      - name: Mint the API Key on prefix.dev
        shell: bash
        run: |
          TOKEN="${{ steps.get_token.outputs.token }}"
          RESPONSE="$(curl -s -X POST                 \
              https://prefix.dev/api/oidc/mint_token \
              -H 'Content-Type: application/json'    \
              --data "{\"token\": \"$TOKEN\"}")"
          # mask the response
          echo "::add-mask::$RESPONSE"
          echo "PREFIX_API_KEY=$RESPONSE" >> "$GITHUB_ENV"
      - name: Upload package to Artifactory
        if: github.event_name == 'push'
        run: |
          shopt -s nullglob
          for file in output/**/*.conda; do
            rattler-build upload prefix -c skill-forge "$file"
          done
